.navigation{
    // background-color: rgb(0, 173, 179);
    text-align: center;
    padding: 5px;
    font-family: 'Bangers', cursive;
}

.navigation{
    background-color: rgb(179, 0, 0);
    color: white;
}