*{
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
    // background-color: rgb(136, 112, 112);
    color: black;
}


.bg{
    box-shadow:  black 1px solid;
}


.containeur{
    margin: auto;
    justify-content: space-between;
}