

    


   
    <p class="center">    
        <label>
          <input class="with-gap" type="radio" [(ngModel)]="goodonly" name="goodbad" value="good"/>
          <span>good</span>
        </label>
        <label>
            <input class="with-gap" type="radio" [(ngModel)]="goodonly" name="goodbad" value="bad"/>
            <span>bad</span>
        </label>
        <label>
            <input class="with-gap" type="radio" [(ngModel)]="gender" name="gender" value="Male"/>
            <span>Male</span>
        </label>
        <label>
            <input class="with-gap" type="radio" [(ngModel)]="gender" name="gender" value="Female"/>
            <span>Female</span>
        </label>
        <label>
            <input class="with-gap"  type="radio" [(ngModel)]="gender" name="gender" value="-"/>
            <span>Aucun</span>
        </label>
    </p>




    <app-hero-detail [hero]="heroes"></app-hero-detail>
    <div [ngStyle]="{display: 'flex', flexWrap: 'wrap'}">

      
            
                <div  *ngFor="let hero of goodHeroes" class="card" [ngStyle]="{width:'20%', margin : '5%'}">
                  <div class="card-image m6" >
                    <img  class="img-responsive m6"  src="{{hero.image.url}}" >
                    <span class="card-title"> {{hero.name}} </span>
                  </div>
                  <div class="card-content">
                    <p>
                      alignment : {{hero.biography.alignment}} 
                      gender : {{hero.appearance.gender}} 
                     
                      {{hero.appearance.eyeColor}}
                    </p>
                  </div>
                  <div class="card-action">
                      <a target="_BLANK" href="https://www.superheroapi.com/api.php/1458081961231168/{{hero.id}}">ID : {{hero.id}}</a> 
                  </div>
                </div>
        
          <!-- ID : {{hero.id}} 
          Name : {{hero.name}} 
          alignment : {{hero.biography.alignment}} 
          gender : {{hero.appearance.gender}}  -->
        <!-- <img  src="{{hero.image.url}}" alt="Image de tout les Super Héros">  -->
    </div>







    
    <!-- <input type="radio" [(ngModel)]="goodonly" name="goodbad" value="good"> <label for="">good</label>
    <input type="radio" [(ngModel)]="goodonly" name="goodbad" value="bad"> <label for="">bad</label>
    <input type="radio" [(ngModel)]="gender" name="gender" value="Male"><label for="">Male</label>
    <input type="radio" [(ngModel)]="gender" name="gender" value="Female"> <label for="">Female</label>
    <input type="radio" [(ngModel)]="gender" name="gender" value="-"> <label for="">-</label> -->
    <!-- <input type="range" min="0" max="400" [(ngModel)]="wantedSize"> -->
