<app-navigation></app-navigation>
<router-outlet></router-outlet>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">


  <!-- HEADER -->
<header id="showcase">
  <div class="titre">
      <p >Adopte un super héros !</p>
  </div>
</header>
<!-- ------------ -->


<h3 class="center" id="titre18">Bienvenue aux fans et aux nouveaux venus!</h3>

<p class="center">
  Nous avons le plaisir de vous présenter notre nouvelle application de
  rencontre pour super héros!
</p>

<!-- Texte de teste Lorem -->
<p class="center">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, vitae
  consequuntur vero atque, exercitationem suscipit labore ullam distinctio ex
  rem est sit accusamus sed illum. Tempora minima excepturi consequuntur quo?
  Ut sunt nemo harum numquam ipsa sint quidem maxime, accusantium sit, saepe
  sed. Fuga tempore ipsum voluptatibus officia distinctio id similique,
  maiores asperiores. Facilis error porro aut possimus, est natus!
</p>

  <!-- Formulaire d'envoie des caractéristiques (PAS ENCORE FINI)-->
    <!-- <section>
    <form action="index.html" method="POST" [formGroup]="Formulaire" (ngSubmit)="ValidFormulaire()">
      <h2>Choisis comment sera ton super heros!</h2>
       <p>
        <label>
          <input id="indeterminate-checkbox" type="checkbox" required formControlName="Femme" />
          <span>Femme</span>
        </label>
        <label>
          <input id="indeterminate-checkbox" type="checkbox" [formControl]="Formulaire.controls['Homme']" />
          <span>Homme</span>
        </label>
        <label>
          <input id="indeterminate-checkbox" type="checkbox" formControlName="Indeterminate" />
          <span>Indeterminate</span>
        </label>
      </p> -
    </section> -->
<!-- ------------------------------------------ -->
   
<app-footer></app-footer>
