.navigation{
    background-color: rgb(179, 0, 0);
    font-family: 'Bangers', cursive;
    padding-left: 100px;
    
}

.brand-logo{
    height: 25px;
    // color: black;
}

.logo{
    width: 60px;
}

.MENUE{
    color: black;
}