<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<header>
    <nav class="navigation">
        <div class="nav-wrapper">
        <a href="#" class="brand-logo"><i class="large material-icons">favorite</i>Injectable</a>        <!-- la variable {{title}} se trouve dans le fichier app.component.ts -->
          <!-- <img class ="logo" src="Logo.png"> -->
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class=" px-15"><a href="#">Home</a></li>
            <li class="MENUE"><a href="/Heroes">trouve ton super Héros</a></li> 
          </ul>
        </div>
    </nav>
</header>